.header {
  &__wrapper {
    max-width: 1280px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: auto;
    height: 8rem;
    margin: 1rem;
  }

  &__devider {
    height: 3rem;
    width: 100%;
    background-color: rgba(125,180,66,255);
  }

  &__cart-icon {
    color: rgba(75,79,82,255);
    height: 4rem;
    width: 5rem;

    :hover {
      background-color: rgba(125,180,66,255);
      color: white;
      border-radius: 40px;
    }
    .bi-cart {
      height: 3rem;
      width: 3rem;
    }
  }
}
