.header {
  &__wrapper {
    max-width: 1280px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    width: auto;
    height: 8rem;
    margin: 1rem;
  }

  &__devider {
    height: 1rem;
    width: 100%;
    background-color: rgba(125,180,66,255);
  }
}
