<ng-container class="cart__wrapper" *ngIf="data.length;else cartIsEmpty">
  <h2>Cart List Component</h2>
  <ul>
    <li *ngFor="let product of data">
      <app-cart-item
        class="cart__items-cards"
        [product]="product"
        (decrease)="onDecrease($event)"
        (increase)="onIncrease($event)"
        (remove)="onRemove($event)"
        >
      </app-cart-item>
    </li>
  </ul>
  <h2>Total Price: <span>{{ totalPrice }}</span></h2>
</ng-container>
<ng-template #cartIsEmpty>
  <h2>CART IS EMPTY</h2>
</ng-template>
