.cart {
  &__wrapper {
    margin-top: 1.5rem;
    height: auto;
    background-color: rgba(125,180,66,255);
    color: white;
    padding: 0 1rem;
  }

  &__item-cards {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}
