.product {
  &__button {
    background-color: rgba(125,180,66,255);
    border: 1px solid rgba(125,180,66,255);
    padding: 0.85rem 3rem;
    border-radius: 40px;
    color: white;

    &:hover {
      opacity: 0.7;
    }
  }
}
